*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#8ab86f;
}

.page{
display:none;
min-height:100vh;
padding:25px;
}

.active{
display:block;
}

/* LOGIN */

.logoBox{
text-align:center;
margin-top:80px;
}

.logoBox img{
width:160px;
}

.logoBox h1{
color:#184a2f;
margin-top:10px;
}

.logoBox p{
color:#184a2f;
}

.formCard{
margin-top:50px;
}

.formCard input{
width:100%;
padding:16px;
border:none;
border-radius:10px;
margin-bottom:20px;
font-size:16px;
}

.formCard button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
}

.formCard button:first-of-type{
background:#2f89d4;
color:white;
}

.formCard a{
display:block;
text-align:center;
margin:20px 0;
text-decoration:none;
color:#8260a8;
font-weight:600;
}

.googleBtn{
background:white;
}

/* HOME */

.topBar{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:50px;
}

.topBar h2{
color:white;
}

.topBar p{
color:#ececec;
}

.notification{
position:relative;
font-size:25px;
color:white;
}

.notification span{
width:10px;
height:10px;
background:red;
border-radius:50%;
position:absolute;
top:2px;
right:0;
}

.searchBox{
background:white;
margin-top:30px;
border-radius:30px;
padding:15px;
display:flex;
align-items:center;
gap:10px;
}

.searchBox input{
border:none;
outline:none;
width:100%;
font-size:16px;
}

.title{
margin-top:30px;
color:white;
}

.categories{
display:flex;
justify-content:space-between;
margin-top:25px;
}

.catIcon{
width:70px;
height:70px;
background:white;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
color:#333;
}

.category{
text-align:center;
color:white;
font-weight:bold;
}

.videoCard{
    margin-top:30px;
    overflow:hidden;
    border-radius:25px;
}

.videoCard iframe{
    width:100%;
    height:220px;
    border:none;
    border-radius:25px;
}

.about{
margin-top:25px;
}

.about h3{
color:white;
margin-bottom:10px;
}

.about p{
color:white;
line-height:1.8;
}

.donateBtn{
width:100%;
padding:16px;
margin-top:25px;
border:none;
background:#2f89d4;
color:white;
border-radius:12px;
}

/* DONATION */

.backBtn{
font-size:25px;
color:white;
}

.donateImage{
text-align:center;
margin-top:20px;
}

.donateImage img{
width:250px;
}

.amounts button{
width:100%;
padding:18px;
margin-top:20px;
border:none;
background:#ececec;
border-radius:30px;
font-weight:bold;
font-size:18px;
}

.selected{
background:#2f89d4 !important;
color:white;
}

.divider{
display:flex;
align-items:center;
gap:10px;
margin:35px 0;
}

.divider hr{
flex:1;
}

.divider span{
font-weight:bold;
color:#7559a0;
}

.customInput{
background:#ececec;
border-radius:30px;
padding:15px;
display:flex;
gap:10px;
}

.customInput input{
border:none;
outline:none;
background:none;
width:100%;
font-size:16px;
}

.continueBtn{
width:100%;
margin-top:30px;
padding:18px;
border:none;
border-radius:30px;
background:white;
font-weight:bold;
font-size:18px;
}
.confirmCard,
.historyCard{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}

.qrisImage{
    width:250px;
    display:block;
    margin:20px auto;
}

#confirmPage button,
#qrisPage button,
#successPage button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    margin-top:20px;
}